$fondo: white;
$letra: 'Montserrat';

.fontCmm {
  font-family: 'Homemade Apple', cursive;
}
.background {background-color: $fondo;
      background-size: cover;}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 3fr 2fr 0.2fr;
  grid-gap:  1px 1px;
  grid-template-areas: "Logo . NOMBRE NOMBRE ." 
  " HEAD HEAD HEAD HEAD HEAD" 
  ". IMAGE IMAGE IMAGE ."
  "Banners Banners Banners Banners Banners"
  "Footer Footer Footer Footer Footer";
}


.ASIDE { grid-area: ASIDE; }

.NOMBRE { grid-area: NOMBRE; }

.IMAGE { grid-area: IMAGE; }

.BANNERS { grid-area: Banners; }

.Logo { grid-area: Logo; }

.HEAD { grid-area: HEAD;}

.Footer {grid-area: Footer;
}

.FormatoItalica {
  font-style: italic;
  text-align: center;
}

.TituloVerde {
  color: green;
}

.TextRight {text-align: right;}

.TextItalic { font-style: italic; }

.titles { font-family: 'Homemade Apple', cursive;
      text-align: center; }



